<!--
  @description       : 
  @author            : Ziyaad_Adams
  @group             : 
  @last modified on  : 09-02-2021
  @last modified by  : Lian Bond
  Modifications Log 
  Ver   Date         Author         Modification
  1.0   01-27-2021   Ziyaad_Adams   Initial Version
-->
<template>
    <lightning-card >
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
              <header class="slds-modal__header">
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Contact Information Verification</h2>
              </header>
              
              <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                  <h3 class="slds-text-heading_small">Please Confirm Your Information:</h3>
                  <lightning-record-edit-form record-id={records.contact.Id}
                                  object-api-name="Contact" onsuccess={handleSuccess}> 
                  <lightning-messages>
                  </lightning-messages>
                  <lightning-input-field field-name="Phone">
                  </lightning-input-field>
                  <lightning-input-field field-name="MailingStreet">
                  </lightning-input-field>
                  <lightning-input-field field-name="MailingCity">
                  </lightning-input-field>
                  <lightning-input-field field-name="MailingCountry">
                  </lightning-input-field>
                  <lightning-input-field field-name="MailingState">
                  </lightning-input-field>
                  
                  <lightning-button
                    class="slds-m-top_small"
                    variant="brand"
                    type="submit"
                    name="update"
                    label="Update">
                  </lightning-button>
                </lightning-record-edit-form>
              </div>
              <footer class="slds-modal__footer">

            </footer>
            </div>
          </section>
    
    </lightning-card>
        
</template>