.error {
    border-color: #f2a199;
    background-color: #fdedea;
    color: #464646;
    padding: 5px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
}

.warning {
    border-color: #f8e38e;
    background-color: #ffffdc;
    color: #464646;
    padding: 5px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
}