<!--
  @description       : 
  @author            : Lian Bond
  @group             : 
  @last modified on  : 28-01-2021
  @last modified by  : Lian Bond
  Modifications Log 
  Ver   Date         Author      Modification
  1.0   28-01-2021   Lian Bond   Initial Version
-->
<template>
    <div class="error">
        <h2 style="font-weight: bold; font-size: 16px; margin:0px;">
            The following error has occured
        </h2>
        <p>
            {errorMessage}
        </p>
        <br>
        <p style="font-weight: light; font-size: 10px; margin:0px">
            Developer information:<br>
            {errorString}
        </p>
    </div>
</template>