<!--
  @description       : 
  @author            : Lian Bond
  @group             : 
  @last modified on  : 09-02-2021
  @last modified by  : Lian Bond
  Modifications Log 
  Ver   Date         Author      Modification
  1.0   19-01-2021   Lian Bond   Initial Version
-->
<template >
    
    <div class="slds-align_absolute-center" style="height:100vh;">
        <template if:false={reducedErrors}>
            <template if:true={con}>
                <!-- 
                    STEP 1: OTP AUTHENTICATION NEEDS TO HAPPEN
                 -->
                <template if:true={step1}>
                    <c-s18-a-tax-certificate-auth records={records} onotpsubmit={otpValidate}></c-s18-a-tax-certificate-auth>
                </template>
                <!-- 
                    STEP 2: CONTACT MUST CONFIRM THEIR PARTICULARS
                    //phone and address
                -->
                <template if:true={step2}> 
                    <c-s18a-tax-certificate-contact-information-verification records={records} oncontactsubmit={contactInfoValidate}></c-s18a-tax-certificate-contact-information-verification>
                </template>
                <!-- 
                    STEP 3: CONTACT CAN DOWNLOAD THE TAX CERTIFICATE AFTER COMPLETING THEIR PARTICULARS
                 -->
                <template if:true={step3}>
                    <lightning-button variant="brand" label="Download" title="Download action with brand variant" icon-name="utility:download" class="slds-m-left_x-small"></lightning-button>
                </template>
            </template>
            
        </template>
        <template if:true={reducedErrors}>
            <c-s18a-tax-certificate-error-component error-message={reducedErrors} error={error}></c-s18a-tax-certificate-error-component>
        </template>
    </div>
    
    
</template>