<!--
  @description       : 
  @author            : Lian Bond
  @group             : 
  @last modified on  : 09-02-2021
  @last modified by  : Lian Bond
  Modifications Log 
  Ver   Date         Author      Modification
  1.0   19-01-2021   Lian Bond   Initial Version
-->
<template>
    <lightning-card title="">
        <header class="slds-modal__header">
            <h2 class="slds-text-heading_medium slds-hyphenate">OTP Authentication</h2>
        </header>
        <div class="slds-modal__content slds-p-around_medium">
            <h3 class="slds-text-heading_small">Please enter the OTP sent to, {email}!</h3>
            <lightning-input
                type="text"
                onchange={handleOTPChange}
            ></lightning-input>
           
        </div>
        <footer class="slds-modal__footer">
            <lightning-button   variant="brand"
                                name="submit"
                                label="Regenerate OTP"
                                title={submitLabel}
                                onclick={handleReGen}></lightning-button>
            <lightning-button   variant="brand"
                                name="submit"
                                label="Submit"
                                title={submitLabel}
                                onclick={handleSubmitClick}></lightning-button>
        </footer>
    </lightning-card>
</template>